<div class="row">
    <div class="crear">
        <button type="submit" class="btn btn-outline-success" data-toggle="modal" data-target="#CrearAlumno">Nuevo Alumno</button>
    </div>
</div>

<!--Modal crear alumno-->


<div id="CrearAlumno" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Crear Alumno</h4>
                <button type="button " class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">

                <form class="form-group" (ngSubmit)="AddAlumno(newNombre, newApellido, newEdad)">
                    <div class="col-md-12">
                        <label class="form-group">Nombres</label>
                        <input class="form-control" type="text" name="Nombre" #newNombre required>
                    </div>
                    <div class="col-md-12">
                        <label class="form-group">Apellidos</label>
                        <input class="form-control" type="text" name="Apellido" #newApellido required>
                    </div>
                    <div class="col-md-12">
                        <label class="form-group">Edad</label>
                        <input class="form-control" type="number" name="Edad" #newEdad required>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

<!--Modal crear alumno-->

<div class="table-responsive">
    <h3 style="text-align: center">Alumnos</h3>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>#</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Edad</th>
                <th scope="col">materias Asignadas</th>
                <th scope="col">Opciones</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let al of alumno; let i = index">

                <td>{{i+1}}</td>
                <td>{{al.nombre}}</td>
                <td>{{al.apellido}}</td>
                <td>{{al.edad}}</td>
                <td>{{al.materia }}</td>

                <td>
                    <button type="submit" class="btn btn-outline-info" data-toggle="modal" data-target="#AsignarMateria" (click)="SelectAlumno(al,i)"
                        style="margin: 10px">Asignar Materias</button>

                    <button type="submit" class="btn btn-outline-warning" data-toggle="modal" data-target="#AsignarNota" (click)="SelectAlumno(al,i)"
                        style="margin: 10px">Asignar Notas</button>

                    <button type="submit" class="btn btn-outline-primary" data-toggle="modal" data-target="#EditarAlumno" (click)="SelectAlumno(al,i)"
                        style="margin: 10px">Editar</button>


                </td>
            </tr>

        </tbody>
    </table>

    <div *ngIf="(alumno).length == 0 " class="alert alert-info" role="alert">
        <h5>No hay registros para mostrar</h5>
    </div>
</div>



<!--Modal Editar alumno-->

<div id="EditarAlumno" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Editar Alumno</h4>
                <button type="button " class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">

                <form class="form-group" (ngSubmit)="UpdateAlumno(updateNombre, updateApellido, updateEdad)">
                    <div class="col-md-12">
                        <label class="form-group">Nombres</label>
                        <input class="form-control" type="text" name="Nombre" #updateNombre required value="{{alumno2.nombre}}">
                    </div>
                    <div class="col-md-12">
                        <label class="form-group">Apellidos</label>
                        <input class="form-control" type="text" name="Apellido" #updateApellido required value="{{alumno2.apellido}}">
                    </div>
                    <div class="col-md-12">
                        <label class="form-group">Edad</label>
                        <input class="form-control" type="number" name="Edad" #updateEdad required value="{{alumno2.edad}}">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

<!--Modal Editar alumno-->

<!--Asignar Materia-->
<div id="AsignarMateria" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="text-align: center">Asignar Materias</h3>
                <button type="button " class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">

                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Titulo</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let ma of materia">
                                <td>{{ma.titulo}}</td>
                                <td>
                                    <button type="submit" class="btn btn-outline-warning" (click)="AsignarMateria(ma.titulo)" style="margin: 10px">Asignar</button>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                    <div *ngIf="(materia).length == 0 " class="alert alert-info" role="alert">
                        <h5>No hay registros para mostrar</h5>
                    </div>
                </div>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

<!--Asignar Materia-->

<div id="AsignarNota" class="modal fade" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Notas</h4>
                <button type="button " class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">

                <form class="form-group" (ngSubmit)="AddMateria(newTitulo)">
                    <div class="col-md-12">
                        <label class="form-group">Nombres</label>
                        <input class="form-control" type="text" name="Nombre" #updateNombre required value="{{alumno2.nombre}}">
                    </div>
                    <div class="col-md-12">
                        <label class="form-group">Titulo</label>
                        <input class="form-control" type="text" name="Nombre" #newTitulo required>
                    </div>
                    <div class="col-md-12">
                        <select [(ngModel)]="alumno.materia" class="form-control" name="curso">
                            <option value="">Seleccione un curso</option>
                            <option *ngFor="let al of alumno" [value]="ma">{{al.materia}}</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>


                </form>
            </div>
        </div>

    </div>
</div>