<div class="row">
    <div class="crear">
        <button type="submit" class="btn btn-outline-success" data-toggle="modal" data-target="#CrearAlumno">Nuevo
            Alumno</button>
    </div>
</div>

<!--*****************************************************************************Modal crear alumno************************************************************-->


<div id="CrearAlumno" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" class="col-md-4 col-lg-2">
                <h4 class="modal-title text-center">Crear</h4>
            </div>
            <div class="modal-body">

                <form class="form-group" #forma="ngForm" >
                    <div class="col-md-12">
                        <label class="form-group">Nombres</label>
                        <input class="form-control" type="text" name="Nombre" #newNombre required>
                    </div>
                    <div class="col-md-12">
                        <label class="form-group">Apellidos</label>
                        <input class="form-control" type="text" name="Apellido" #newApellido required>
                    </div>
                    <div class="col-md-12">
                        <label class="form-group">Edad</label>
                        <input class="form-control" type="number" name="Edad" #newEdad required>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" (click)="AddAlumno(newNombre, newApellido, newEdad)" data-dismiss="modal" [disabled]="!forma.valid">Guardar</button>
                        <button [disabled]="!forma.valid" type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

<!--****************************************************************************Tabla de alumnos******************************************************************-->

<div class="table-responsive">
    <h3 style="text-align: center">Alumnos</h3>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th>#</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Edad</th>
                <th scope="col">materias Asignadas</th>
                <th scope="col">Opciones</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let al of alumno; let i = index">

                <td>{{i+1}}</td>
                <td>{{al.nombre}}</td>
                <td>{{al.apellido}}</td>
                <td>{{al.edad}}</td>
                <td>
                    <ul>
                        <li *ngFor="let mat of al.materia">
                            <p>{{mat}}</p>
                        </li>
                    </ul>

                </td>

                <td>

                    <button type="submit" class="btn btn-outline-info" data-toggle="modal" data-target="#AsignarMateria"
                        (click)="SelectAlumno(al,i)" style="margin: 10px" data-tooltip="tooltip" data-placement="top"
                        title="Asignar Materia"><i class="fa fa-book"></i></button>

<!-- 
                    <button type="submit" class="btn btn-outline-warning" data-toggle="modal" data-target="#AsignarNota"
                        (click)="SelectAlumno(al,i)" style="margin: 10px" data-tooltip="tooltip" data-placement="top"
                        title="Asignar Notas"><i class="fa fa-clipboard-list"></i>
                    </button> -->

                    <button type="submit" class="btn btn-outline-primary" data-toggle="modal" data-target="#EditarAlumno"
                        (click)="SelectAlumno(al,i)" style="margin: 10px" data-tooltip="tooltip" data-placement="top"
                        title="Editar"><i class="fa fa-edit"></i></button>



                </td>
            </tr>

        </tbody>
    </table>

    <div *ngIf="(alumno).length == 0 " class="alert alert-info" role="alert">
        <h5>No hay registros para mostrar</h5>
    </div>
</div>



<!--*****************************************************************Modal Editar alumno***************************************************************************-->

<div id="EditarAlumno" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Editar Alumno</h4>
                <button type="button " class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">

                <form class="form-group">
                    <div class="col-md-12">
                        <label class="form-group">Nombres</label>
                        <input class="form-control" type="text" name="Nombre" #updateNombre required value="{{alumno2.nombre}}">
                    </div>
                    <div class="col-md-12">
                        <label class="form-group">Apellidos</label>
                        <input class="form-control" type="text" name="Apellido" #updateApellido required value="{{alumno2.apellido}}">
                    </div>
                    <div class="col-md-12">
                        <label class="form-group">Edad</label>
                        <input class="form-control" type="number" name="Edad" #updateEdad required value="{{alumno2.edad}}">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" (click)="UpdateAlumno(updateNombre, updateApellido, updateEdad)" data-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-primary" >Cancelar</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>



<!--***************************************************************************Asignar Materia***************************************************************-->
<div id="AsignarMateria" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="text-align: center">Asignar Materias</h3>
                <button type="button " class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">

                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Titulo</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr *ngFor="let ma of materia">
                                <td>{{ma.titulo}}</td>
                                <td>
                                    <button type="submit" class="btn btn-outline-warning" (click)="AsignarMateria(ma.titulo)"
                                        style="margin: 10px">Asignar</button>
                                </td>

                            </tr>

                        </tbody>
                    </table>

                    <div *ngIf="(materia).length == 0 " class="alert alert-info" role="alert">
                        <h5>No hay registros para mostrar</h5>
                    </div>
                </div>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>

<!--*******************************************************************************Asignar Nota************************************************************-->

<div id="AsignarNota" class="modal fade" role="dialog">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Notas</h4>
                <button type="button " class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">

                <form class="form-group">
                    <div class="col-md-12">
                        <label class="form-group">Materia</label>
                        <select name="materia" id="materia" class="form-control">
                            <option value="">Seleccione una opción</option>
                            <option *ngFor="let mat of alumno2.materia">{{mat}}</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label class="form-group">Periodo</label>
                        <select name="periodo" id="materia" class="form-control" >
                                <option value="">Seleccione una opción</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                    </div>
                    <div class="col-md-12">
                        <label class="form-group">Nota</label>
                        <input *ngIf="materia == 1"  type="number" id="nota1" name="Nota" class="form-control" placeholder="hola">
                        <input type="number" id="nota2" name="Nota" class="form-control">
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>

                </form>

                <div *ngIf="(materia).length == 0 " class="alert alert-info" role="alert">
                    <h5>No hay registros para mostrar</h5>
                </div>
            </div>

        </div>
    </div>


</div>