<div class="row">
    <div class="crear">
        <button type="submit" class="btn btn-outline-success" data-toggle="modal" data-target="#CrearProfesor">Nueva Materia</button>
    </div>
</div>

<!--********************************Modal crear Materia*****************************************-->


<div id="CrearProfesor" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Nueva Materia</h4>
                <button type="button " class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">

                <form class="form-group" >
                    <div class="col-md-12">
                        <label class="form-group">Titulo</label>
                        <input class="form-control" type="text" name="Nombre" #newTitulo required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" (click)="AddMateria(newTitulo)" data-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>


                </form>
            </div>
        </div>

    </div>
</div>

<!--********************************Tabla Materias*****************************************-->


<div class="table-responsive">
    <h3 style="text-align: center">Materias</h3>
    <table class="table table-borderless" >
        <thead>
            <tr>
                <th scope="col">Titulo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ma of materia">
                <td>{{ma.titulo}}</td>
                
            </tr>
            
        </tbody>
    </table>

    <div *ngIf="(materia).length == 0 " class="alert alert-info" role="alert">
        <h5>No hay registros para mostrar</h5>
      </div>
</div>