<div class="row">
    <div class="crear">
        <button type="submit" class="btn btn-outline-success" data-toggle="modal" data-target="#CrearProfesor">Nuevo Profesor</button>
    </div>
</div>

<!--Modal crear profesor-->


<div id="CrearProfesor" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Crear Profesor</h4>
                <button type="button " class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">

                <form class="form-group" (ngSubmit)="AddProfesor(newNombre, newApellido, newEdad)">
                    <div class="col-md-12">
                        <label class="form-group">Nombres</label>
                        <input class="form-control" type="text" name="Nombre" #newNombre required>
                    </div>
                    <div class="col-md-12">
                        <label class="form-group">Apellidos</label>
                        <input class="form-control" type="text" name="Apellido" #newApellido required>
                    </div>
                    <div class="col-md-12">
                        <label class="form-group">Edad</label>
                        <input class="form-control" type="number" name="Edad" #newEdad required>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    </div>


                </form>
            </div>
        </div>

    </div>
</div>


<div class="table-responsive">
    <h3 style="text-align: center">Profesores</h3>
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Edad</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pro of profesor">
                <td>{{pro.nombre}}</td>
                <td>{{pro.apellido}}</td>
                <td>{{pro.edad}}</td>
                <td>
                        <button type="submit" class="btn btn-outline-danger" (click)="deleteProfesor(pro)">Eliminar</button>

                    </td>
            </tr>

        </tbody>
    </table>

    <div *ngIf="(profesor).length == 0 " class="alert alert-info" role="alert">
        <h5>No hay registros para mostrar</h5>
    </div>
</div>